* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-image: linear-gradient(rgb(140, 172, 205), white);
}

button {
    padding: 2%;
    border-radius: 5px;
    background-color: rgb(186, 214, 231);
}

img {
    text-align: center;
    padding: 5%;
}

input {
    padding: 2%;
    width: 80%;
    height: 30px;
}